.button {
  border: none;
  background-color: var(--color-primary);
  border-radius: 100px;
  color: white;
  font-size: 15px;
  font-family: var(--font-arrow);
}

.button:hover {
  background-color: var(--color-four-yellow);
  box-shadow: 2px, 2px, 1px, 1px;
  color: var(--color-primary);
}
