.button {
  border: none;
  background-color: #1195ac;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  font-family: 'RubikDoodleShadow-Regular', sans-serif;
}

.button:hover {
  background-color: #a8d6e5;
  box-shadow: 2px, 2px, 1px, 1px;
  color: var(--color-primary);
}
