@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

/* Add font for arrows buttons in pagination */
@font-face {
  font-family: "RubikDoodleShadow-Regular";
  src: url("./assets/arrow-font/RubikDoodleShadow-Regular.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #262c3a;
  --color-secondary: #eceef3;
  --color-tertiary: #1195ac;
  --color-quaternary: #c6df5f;
  --font-family: system-ui;
  --font-arrow: RubikDoodleShadow-Regular;
  --height-header: 100px;
  --height-searchbar: 42px;
}

body {
  font-family: var(--font-family), var(--font-arrow);
  color: var(--color-primary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  height: var(--height-header);
  background-color: var(--color-secondary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
}

.header__logo {
  padding: 10px;
  width: 300px;
  border-radius: 30px;
}

main {
  /* width: 310px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  margin: 3px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
}
/* 
.title {
  padding: 10px;
  position: fixed;
  width: 300px;
  top: 0;
  background-color: #262c3a;
  height: var(--height-title);
} */
