@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

/* Add font for arrows buttons in pagination */
@font-face {
  font-family: 'RubikDoodleShadow-Regular.ttf';
  src: url('./assets/arrow-font/RubikDoodleShadow-Regular.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #262c3a;
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --height-title: 58px;
  --height-searchbar: 42px;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px;
  position: fixed;
  width: 300px;
  top: 0;
  background-color: #262c3a;
  height: var(--height-title);
}
