.card-container {
  margin-bottom: 10px;
  /* padding-top: calc(var(--height-title) + var(--height-searchbar)); */
  margin-top: 140px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container > p {
  font-family: RubikDoodleShadow-Regular;
  text-align: center;
  font-size: 12px;
  color: rebeccapurple;
  margin: 5px;
  padding: 5px;
}

.card {
  width: 300px;
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-inline: 5px;
}

.card__image-container {
  /* overflow: hidden; */
  width: auto;
  display: flex;
  justify-content: center;
}

.card__image {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  width: 95%;
  margin: 5px;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}
